// Font
$mainFont: Montserrat;
// Size
$mainFontSize: 14px;
$mainFontWeight: 400;

$lgDesktopWidth: 1400px;
$desktopWidth: 1280px;
$smDesktopWidth: 1024px;
$tableWidth: 768px;
$smTableWidth: 640px;
$phoneWidth: 480px;
$smPhoneWidth: 320px;

// Main color
$default-color: #333333;
$title-color: #e31f24;
$light-color: #76787d;
$black-color: #000000;

// Neutral Color
$bg-color-cart: #e0e0e0;
$bg-color: #fdfdfd;

// Border Color
$border-base: #e0e0e0;
$border-radius: 10px;
$border-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
